html
{
	background-color:#ccccff;
}


#para
{
	font-style:oblique;
    font-size:large;
}
#heading
{
	font-style:block;
	font-weight: bold
}
#set
{
	font-style:italic;
}
#set1
{
	font-style:italic;
}

