 html
 {
 	background-color: #ffffcc;
 }

h1

{  
	text-decoration: underline;
 color:#ff33cc;
	text-align: center;

}
body
{
display:block;
margin-top: 
}
h1
{
	font-style:italics;

}
div
{
	font-size:large;
}
table
{
border: 2px solid black;
display: block;
width: 50%;
margin: 0px auto;
}
th
{
	padding: 0px 40px 0px 40px ;
}
